﻿
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <!-- Top Navigation Bar -->
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark">
        <div class="container">
            @Html.ActionLink("Blog Website", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
        </div>
    </nav>

    <!-- Sidebar -->
    <div class="container-fluid">
        <div class="row">
            <nav id="sidebar" class="col-md-3 col-lg-2 d-md-block bg-dark sidebar">
                <div class="position-sticky collapse navbar-collapse d-sm-inline-flex justify-content-between">
                    <div class="list-group list-group-flush">
                        <a href="@Url.Action("Index", "User")" class="list-group-item list-group-item-action text-light bg-dark">
                            Admin Dashboard
                        </a>
                        <a href="@Url.Action("Index", "Profile")" class="list-group-item list-group-item-action text-light bg-dark">
                            Profile
                        </a>
                        <a href="@Url.Action("Index", "Event")" class="list-group-item list-group-item-action text-light bg-dark">
                            Events
                        </a>
                        <a href="@Url.Action("Logout", "Login")" class="list-group-item list-group-item-action text-light bg-dark">
                            Logout
                        </a>
                    </div>
                </div>
            </nav>



            <!-- Main Content Area -->
            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                <div class="container">
                    @RenderBody()
                    <hr />
                </div>
            </main>
        </div>
    </div>

    <!-- Footer -->
    <footer class="bg-dark text-center text-light py-3">
        <div class="container">
            <p>&copy; @DateTime.Now.Year - All rights reserved to EIEMON</p>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>